{% extends 'base.html' %}
{% block content %}
<h2>{{ survey.title }}</h2>
<form method="POST">
    {% for question in survey.questions %}
    <div>
        <label>{{ question.text }}</label>
        {% if question.question_type == 'text' %}
        <input type="text" name="{{ question.id }}" />
        {% elif question.question_type == 'radio' %}
        <input type="radio" name="{{ question.id }}" value="Yes" /> Yes
        <input type="radio" name="{{ question.id }}" value="No" /> No
        {% endif %}
    </div>
    {% endfor %}
    <button type="submit">Submit</button>
</form>
{% endblock %}
